@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-content: theme(colors.gray.900);
    --color-muted: theme(colors.gray.600);
    --color-muted-subtle: theme(colors.gray.500);
    --color-wobble: theme(colors.indigo.600);

    --color-trivial-bg: theme(colors.cyan.100);
    --color-trivial-text: theme(colors.cyan.900);

    --color-outdated-bg: theme(colors.purple.100);
    --color-outdated-text: theme(colors.purple.900);

    --color-background: theme(colors.slate.100);
    --color-surface: theme(colors.white);

    --color-search: theme(colors.indigo.500);
    --color-search-bg: theme(colors.neutral.50);
    --color-search-icon-bg: theme(colors.indigo.50);

    --color-card-border: theme(colors.indigo.600);
    --color-card-border-subtle: theme(colors.indigo.300);

    --color-title-from: theme(colors.purple.500);
    --color-title-to: theme(colors.cyan.400);

    --color-accent: theme(colors.rose.500);
}

@layer base {
    .dark {
        --dark-background: rgb(24, 22, 26);
        --dark-surface: #1f1c23;
        /* --dark-background: #020617;
        --dark-surface: #0d0c21; */

        --color-content: theme(colors.gray.100);
        --color-muted: theme(colors.gray.200);
        --color-muted-subtle: theme(colors.gray.300);

        --color-background: var(--dark-background);
        --color-surface: var(--dark-surface);

        --color-wobble: theme(colors.indigo.400);
        --color-card-border: theme(colors.indigo.500);
        --color-card-border-subtle: theme(colors.slate.700);

        --color-trivial-bg: theme(colors.cyan.950);
        --color-trivial-text: theme(colors.cyan.100);

        --color-outdated-bg: theme(colors.purple.950);
        --color-outdated-text: theme(colors.purple.100);

        --color-search: theme(colors.indigo.400);
        --color-search-bg: var(--dark-background);
        --color-search-icon-bg: var(--dark-background);

        --color-title-from: theme(colors.purple.400);
        --color-title-to: theme(colors.cyan.300);

        --color-accent: theme(colors.rose.400);
    }
}

body:not(.dark) .astro-code,
body:not(.dark) .astro-code span {
    background-color: var(--color-background) !important;
}

body:not(.dark) .astro-code[data-language="bash"],
body:not(.dark) .astro-code[data-language="bash"] span {
    color: var(--color-content) !important;
}

body.dark .astro-code,
body.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--color-background) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}
