---
import Badge from "../components/Badge";
import Search from "../components/Search.astro";
import TeaserSection from "../components/TeaserSection.astro";
import Layout from "../layouts/Layout.astro";

const teasers: string[] = ["is-windows", "isarray", "lower-case"];
---

<Layout title="npmsmell.com | trivial & outdated NPM packages">
    <div class="mx-auto max-w-screen-xl px-8 pt-8 bg-white xl:rounded-t-3xl">
        <Search pathPrefix="./smell/" showAllInitially={false} />
        <div class="bg-indigo-50 p-4 md:p-8 rounded-xl">
            <div class="prose">
                <h4>Best of:</h4>
            </div>
            <TeaserSection names={teasers} />
        </div>
    </div>
    <div class="bg-white mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <article class="prose prose-base max-w-none">
            <hr />
            <h2>About</h2>
            <p>
                NPM Smell's ultimate goal is to minimize the impact of supply chain attacks in NPM.
            </p>
            <p>
                It tries to do so by highlighting trivial or outdated dependencies with high
                download numbers so that package maintainers can act and remove those dependencies.
            </p>
            <h2>Why?</h2>
            <p>
                Security. NPM contains a lot of trivial or outdated packages. Yet they are still
                being downloaded by millions. This makes them a prime candidate for the next supply
                chain attack.
            </p>
            <p>
                A popular attack vector is taking over those packages and updating them with
                malicious code.
            </p>
            <!-- <p>
                Trivial and outdated packages are a good target for this kind of attack especially
                if they also have high download numbers.
            </p> -->
            <h3>What are <Badge type={"trivial"} /> or <Badge type={"obsolete-js"} /> packages?</h3>
            <h4>Trivial</h4>
            <p>
                Trivial packages are packages that should be common knowledge for any JavaScript
                developer. Like checking for an array or checking if a number is odd. While the
                functionality is often trivial they also sometimes come with additional
                dependencies. Unnecessarily increasing the attack surface.
            </p>
            <h4>Outdated</h4>
            <p>
                Outdated packages are packages whose functionality they provide is now supported by
                the language itself.
            </p>
        </article>
    </div>
</Layout>
