---
import Badge from "../components/Badge.tsx";
import Search from "../components/Search.astro";
import TeaserSection from "../components/TeaserSection.astro";
import Layout from "../layouts/Layout.astro";

const teasers: string[] = ["is-string", "isarray", "is-windows"];
---

<Layout title="npmsmell.com | trivial & outdated NPM packages">
    <div>
        <Search pathPrefix="./smell/" showAllOnEmpty={false} />
        <div class="bg-search-icon-bg rounded-xl p-4 md:p-8">
            <div class="prose dark:prose-invert">
                <h4>Best of:</h4>
            </div>
            <TeaserSection names={teasers} />
        </div>
    </div>
    <div>
        <article class="prose prose-base dark:prose-invert max-w-none">
            <hr />
            <h2>About</h2>
            <p>NPM Smell aims to reduce the impact of supply chain attacks in the NPM ecosystem.</p>
            <p>
                It does this by highlighting trivial or outdated dependencies with high download
                counts, enabling maintainers to remove them.
            </p>
            <h2>Why?</h2>
            <p>
                Security. NPM contains many trivial or outdated packages that are downloaded
                millions of times, making them prime targets for supply chain attacks.
            </p>
            <p>
                Attackers often exploit the fact that trivial or outdated packages are essentially
                complete and require minimal maintenance. When maintainers lose interest or no
                longer have time to maintain them, attackers often act in good faith by proposing to
                take over the project, before publishing malicious updates.
            </p>
            <h3>
                What are <Badge type={"trivial"} /> or <Badge type={"obsolete-js"} />
                packages?
            </h3>
            <h4>Trivial</h4>
            <p>
                Trivial packages provide functionality that should be common knowledge for most
                JavaScript developers. For example, checking if a value is an array or a number is
                odd. Despite their simplicity, these packages may introduce additional dependencies,
                unnecessarily increasing the attack surface.
            </p>
            <h4>Outdated</h4>
            <p>
                Outdated packages provide functionality that is now supported by the language or
                runtime itself.
            </p>
        </article>
    </div>
</Layout>
