---
import Layout from "../../layouts/Layout.astro";
import Search from "../../components/Search.astro";
---

<Layout>
    <div class="bg-white mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <article class="prose prose-sm max-w-none">
            <h2>Overview:</h2>
            <p>Results are sorted alphabetically.</p>
            <p></p>
        </article>
        <Search showAllInitially={true} />
    </div>
</Layout>
