---
import Layout from "../../layouts/Layout.astro";
import Search from "../../components/Search.astro";
---

<Layout title="npmsmell.com | outdated & trivial NPM packages | Overview">
    <div class="bg-white mx-auto max-w-screen-xl px-8 py-8 xl:rounded-t-3xl">
        <article class="prose prose-sm max-w-none">
            <h2>Overview:</h2>
            <p>Results are sorted alphabetically.</p>
            <p></p>
        </article>
        <Search pathPrefix="./" showAllOnEmpty={true} />
    </div>
</Layout>
