---
import DetailCardSection from "./DetailCardSection.astro";

interface Props {
    title: string;
    tag: string;
    description: string;
    sections: {
        title: string;
        subtitle: string;
    }[];
}

const { title, tag, description, sections } = Astro.props;
---

<section class="bg-slate-100">
    <div
        class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8 drop-shadow-xl bg-white rounded border-2 border-indigo-500"
    >
        <div class="mx-auto max-w-3xl text-center">
            <h2
                class="flex items-center justify-center text-3xl font-bold text-gray-900 sm:text-4xl"
            >
                {title}
                <span
                    class="inline-block ml-2 whitespace-nowrap rounded-full bg-orange-100 px-2.5 py-0.5 text-sm text-orange-700 border border-orange-700"
                >
                    {tag}
                </span>
            </h2>

            <p class="mt-4 text-gray-500 sm:text-xl">
                {description}
            </p>
        </div>

        <div class="mt-8 sm:mt-12">
            <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                {sections.map(section => <DetailCardSection {...section} />)}
            </dl>
        </div>
    </div>
</section>
