---
import bcd from "@mdn/browser-compat-data" assert { type: "json" };

const { implementation } = Astro.props;

const support = bcd.javascript.builtins.Array.isArray;
---

<h2>todo show compat table for {implementation}</h2>
<pre>{JSON.stringify(support, null, 4)}</pre>
