---
import { Code } from "astro:components";

import { getDependencyTree } from "../data";

interface Props {
    pkg: string;
}
const { pkg } = Astro.props;

const dependencyTree = await getDependencyTree(pkg);
---

{
    dependencyTree.length > 1 && (
        <section>
            <div class="gradient prose mx-auto max-w-none max-w-screen-xl rounded py-12 md:py-8">
                <h3>Dependency Tree</h3>
                <Code code={dependencyTree.join("\n")} lang="bash" theme="rose-pine-moon" />
            </div>
        </section>
    )
}
