---
interface Props {
    title: string;
    subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
    <dt class="order-last text-lg font-medium text-gray-500">{subtitle}</dt>

    <dd class="text-2xl font-extrabold text-indigo-600">
        {title}
    </dd>
</div>
