---
import { getCollection } from "astro:content";
import { Teaser, type TeaserProps } from "./Teaser";
import { getMockTeaserData, getTeaserData } from "../npm";

interface Props {
    names: string[];
    highlight?: string;
}

const allDependencies = await getCollection("dependencies");
const { names } = Astro.props;

const teasers: Array<TeaserProps> = allDependencies
    .filter(dependency => names.includes(dependency.data.name))
    .map(dependency => ({
        name: dependency.data.name,
        description: dependency.data.description,
        type: dependency.data.type,
        pathPrefix: "./smell/",
        downloads: -1337,
        dependencies: 0,
        distinctDependencies: 0
    }));

// fill in npm data
for (const teaser of teasers) {
    const data = await (import.meta.env.DEV
        ? getMockTeaserData(teaser.name)
        : getTeaserData(teaser.name));

    teaser.downloads = data.downloads;
    teaser.dependencies = data.dependencies[0];
    teaser.distinctDependencies = data.dependencies[1];
}
---

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 mt-4">
    {
        allDependencies.length > names.length && (
            <a
                href="./smell/"
                class="md:hidden relative bg-white flex shadow-md justify-center overflow-hidden rounded border border-indigo-300 p-4 sm:p-6 lg:p-8 text-center items-center hover:outline hover:outline-offset-2 hover:outline-2 outline-indigo-600 underline decoration-rose-500 decoration-2 underline-offset-2"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
                    />
                </svg>
                <span class="ml-2">all packages</span>
            </a>
        )
    }
    {teasers.map(teaser => <Teaser {...teaser} />)}
    {
        allDependencies.length > names.length && (
            <a
                href="./smell/"
                class="hidden md:flex relative bg-white flex shadow-md justify-center overflow-hidden rounded border border-indigo-300 p-4 sm:p-6 lg:p-8 text-center items-center hover:outline hover:outline-offset-2 hover:outline-2 outline-indigo-600 underline decoration-rose-500 decoration-2 underline-offset-2"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
                    />
                </svg>
                <span class="ml-2">all packages</span>
            </a>
        )
    }
</div>
