---
import Teaser from "./Teaser.astro";

const teasers: string[] = ["isarray", "is-whitespace", "is-string"];
---

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 mt-8">
    {teasers.map(name => <Teaser name={name} />)}
    <a
        href="smell"
        class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8 grid text-center items-center hover:outline hover:outline-offset-2 hover:outline-2 outline-blue-500 underline decoration-pink-500 decoration-2 underline-offset-2"
    >
        more
    </a>
</div>
