---
import { getCollection, getEntry } from "astro:content";

import { Teaser, type TeaserProps } from "./search/Teaser.tsx";
import { SMELL_URL } from "../common";

interface Props {
    names: string[];
    highlight?: string;
}

const allDependencies = await getCollection("dependencies");
const { names } = Astro.props;

const teasers: TeaserProps[] = await Promise.all(
    names.map(async name => {
        const metadata = allDependencies.find(dep => dep.data.name === name);

        if (!metadata) throw new Error(`Couldn't find metadata for ${name}`);

        const npmData = await getEntry("npmData", name);

        if (!npmData) {
            throw new Error(`No npmData found for ${name}`);
        }

        const {
            downloads,
            dependencies: [dependencies, distinctDependencies]
        } = npmData.data;

        return {
            name: metadata.data.name,
            description: metadata.data.description,
            type: metadata.data.type,
            pathPrefix: "/smell/",
            downloads,
            dependencies,
            distinctDependencies
        };
    })
);
---

<div
    class="hide-second-to-last-best-of-on-mobile mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4"
>
    {teasers.map(teaser => <Teaser {...teaser} />)}

    <a
        href={SMELL_URL}
        class="text-content bg-surface outline-card-border border-card-border-subtle decoration-accent relative flex items-center justify-center overflow-hidden rounded border p-4 text-center underline decoration-2 underline-offset-2 shadow-md hover:outline hover:outline-2 hover:outline-offset-2 sm:p-6 lg:p-8"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
            ></path>
        </svg>
        <span class="ml-2">all packages</span>
    </a>
</div>
