---
import Layout from "../../layouts/Layout.astro";
import Search from "../../components/Search.astro";
---

<Layout title="npmsmell.com | outdated & trivial NPM packages | Overview">
    <div class="py-8">
        <article class="prose dark:prose-invert prose-sm max-w-none">
            <h2>Overview:</h2>
            <p>Results are sorted alphabetically.</p>
            <p></p>
        </article>
        <Search pathPrefix="/smell/" showAllOnEmpty={true} />
    </div>
</Layout>
