---
import Last from "./Last.astro";
import Spacer from "./Spacer.astro";

export interface BreadCrumb {
    title: string;
    href: string;
}

interface Props {
    breadcrumbs: BreadCrumb[];
}
const { breadcrumbs } = Astro.props;
---

<nav aria-label="Breadcrumb" class="pt-8">
    <ol class="flex items-center gap-1 text-sm text-gray-600">
        <li>
            <a href="/" class="block transition hover:text-gray-700">
                <span class="sr-only"> Home</span>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                    ></path>
                </svg>
            </a>
        </li>

        {
            breadcrumbs.map(({ title, href }, i, arr) => {
                if (i === arr.length - 1) {
                    return (
                        <>
                            <Spacer />
                            <Last href={href} title={title} />
                        </>
                    );
                } else {
                    return (
                        <>
                            <Spacer />
                            <li>
                                <a href={href} class="block transition hover:text-gray-700">
                                    {" "}
                                    {title}
                                </a>
                            </li>
                        </>
                    );
                }
            })
        }
    </ol>
</nav>
