---
import type { BreadCrumb } from "./Breadcrumbs.astro";

interface Props extends BreadCrumb {}
const { title, href } = Astro.props;
---

<li>
    <a href={href} class="bg-background hover:text-content block rounded-lg px-4 py-1 transition">
        {title}</a
    >
</li>
